* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slot_inner {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 200;
  /* color: coral; */
  /* background-color: rgb(233, 100, 100); */
  font-size: 0.9rem;
  margin-bottom: 150px;
  margin-bottom: 10px;
}

.h1_style {
  height: 100vh;
  padding: 5px 0;
  text-align: center;
  letter-spacing: 2px;
  /* font-weight: 500; */
  align-items: center;
  display: flex;
  flex-direction: column;
justify-content: center;

}

.button {
  letter-spacing: 2px;

  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1); */
  background-color: #d18a8a;
  color: white;
  border: 2px solid #99d6e6;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  border-radius: 2px;
  
}





@media (max-width: 786px) {}