* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #caedf5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.h1 {
  color: white;
  background: transparent;
  background-color: #09f8ec;
padding: 6px 0 2px 0;
margin-bottom: 10px;
width: 100%;
box-shadow: 5px 5px 15px -5px rgba(0, 0, 0.3);
}

.main_div {
  height: 100vh;
  width: 100%;
  text-align: center;
  background: azure;
  align-items: center;
  display: flex;
  flex-direction: row;
justify-content: center;

}

.center_div {
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
 min-height: 40px;
/* width: 40px; */
font-size: 20px;
  background-color: lightskyblue;
  color: #fff;
  border: none;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  border-radius: 5px;
  outline: none;
 margin-top: 30px;
}

button:hover {
  background-color: mediumblue;
}

.btn_div {
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;

}

/* ul {
  margin-top: 30px;
}

ul li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
} */

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
margin: 0 15px 0 35px;
color: aliceblue;
box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-times:hover {
  background-color: crimson;
  cursor: default ;
}

@media (max-width: 786px) {
  .center_div {
    width: 55%;
  }
}

